---
import Icon from "astro-icon";
import classNames from "classnames";
import { v4 as uuid4 } from "uuid";

type Props = {
  item: string;
  options: readonly string[];
  onOptionClick: (option: string) => string | undefined;
};

const { item, options, onOptionClick } = Astro.props;
const id = uuid4();
---

<div class="min-w-[6rem]">
  <div class="relative mt-1">
    <button
      type="button"
      class={classNames(
        `open-dropdown-${id}`,
        "peer relative w-full cursor-default rounded-md py-2 pl-3 pr-10 text-left text-white sm:text-sm",
        "hover:bg-wsg-orange-400 hover:bg-opacity-50 focus:ring-1 focus:ring-wsi-blue-300"
      )}
      aria-haspopup="listbox"
      aria-expanded="true"
    >
      <span class="block truncate text-base font-medium">{item}</span>
    </button>
    <ul
      id={id}
      class={classNames(
        "absolute z-10 mt-1 max-h-60 w-full bg-white py-1 overflow-auto rounded-md shadow-lg ring-1 ring-black ring-opacity-5 sm:text-sm",
        "opacity-0 transition-opacity peer-focus:opacity-100 focus:opacity-100 focus:outline-none",
        "pointer-events-none hover:pointer-events-auto peer-focus:pointer-events-auto focus:pointer-events-auto"
      )}
      tabindex="-1"
      role="listbox"
      aria-labelledby="listbox-label"
      aria-activedescendant="listbox-option-3"
    >
      {
        options.map((option) => {
          const isSelected = option === item;

          return (
            <li
              onclick={isSelected ? undefined : onOptionClick(option)}
              class="text-gray-900 text-base relative cursor-default select-none py-2 pl-3 pr-9 hover:bg-wsg-orange-700"
              role="option"
            >
              <span
                class={classNames(
                  isSelected ? "font-semibold" : "font-normal",
                  "block truncate"
                )}
              >
                {option}
              </span>

              {isSelected && (
                <span class="text-wsi-blue-300 absolute inset-y-0 right-0 flex items-center pr-4">
                  <Icon class="h-5 w-5" name="ic:round-check" />
                </span>
              )}
            </li>
          );
        })
      }
    </ul>
  </div>
</div>

<script is:inline define:vars={{ id }}>
  document
    .getElementById(`open-dropdown-${id}`)
    .addEventListener("click", () =>
      document.getElementById(id).classList.toggle("focus")
    );
</script>
