---
import { classNames } from "../utils/classNames";

type Props = {
  className?: string;
  title: string;
  img: string;
  date: string;
  link: string;
  hoverTextColor?: string;
  hoverTextShadowColor?: string;
};

const {
  className,
  title,
  img,
  date,
  link,
  hoverTextColor = "black",
  hoverTextShadowColor = "#ffffff7f",
} = Astro.props;
---

<div
  class={classNames(
    className,
    "grid grid-cols-8 grid-rows-11 w-1/2 md:w-3/12 aspect-[18/24]"
  )}
>
  <a
    target="_blank"
    href={link}
    class="bg-group peer rounded-lg shadow-2xl bg-wsg-orange-500 col-start-1 col-end-8 row-start-1 row-end-11"
  >
  </a>
  <a
    target="_blank"
    href={link}
    class={classNames(
      "relative rounded-lg shadow-2xl bg-white",
      "col-start-2 row-start-2 col-end-9 row-end-12 overflow-hidden",
      "group transition-all",
      "hover:mt-[-1rem] hover:ml-[-1rem] peer-hover:mt-[-1rem] peer-hover:ml-[-1rem]"
    )}
  >
    <div class="absolute w-full pointer-events-none z-10 text-sm pt-2 px-3">
      <h4
        class={classNames(
          "card-title peer md:text-lg md:font-bold mt-1 text-left",
          "transition-all duration-300",
          "group-hover:mt-0 group-hover:text-base group-hover:font-normal"
        )}
      >
        {title}
      </h4>
      <p
        class={classNames(
          "card-date",
          "text-center md:text-base text-gray-200 tracking-wider mt-8",
          "transition-all group-hover:opacity-0 group-hover:mt-0"
        )}
      >
        {date}
      </p>
    </div>
    <div
      class="overlay absolute w-full h-full opacity-50 bg-black transition-opacity hover:opacity-0 peer-hover:opacity-0"
    >
    </div>
    <img class="w-full h-full object-cover" src={img} />
  </a>
</div>

<style define:vars={{ hoverTextColor, hoverTextShadowColor }}>
  .bg-group:hover + a .overlay {
    opacity: 0;
  }

  .bg-group:hover + a .card-date {
    opacity: 0;
    margin-top: 0;
  }

  .card-date {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }

  .card-title {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }

  .bg-group:hover + a .card-title {
    margin-top: 0;
    text-align: left;
    color: var(--hoverTextColor);
    font-weight: normal;
    font-size: medium;

    text-shadow: 0 2px 4px var(--hoverTextShadowColor);
  }

  .group:hover .card-title {
    text-shadow: 0 2px 4px var(--hoverTextShadowColor);
    color: var(--hoverTextColor);
  }
</style>
