---
import { t } from "i18next";
import { buildLink } from "../routing/buildLink";
import { LanguageDropdown } from "./dropdowns/LanguageDropdown";
import { SkillsDropdown } from "./dropdowns/SkillsDropdown";
import load from "astro-icon/lib/utils";

export interface NavigationItem {
  name: string;
  href: string;
}
const home: NavigationItem = {
  name: t("layout.header.home"),
  href: buildLink("/"),
};
---

<header class="bg-wsg-orange-500 shadow">
  <nav class="mx-auto max-w-7xl px-6 lg:px-8" aria-label="Top">
    <div
      class="flex w-full items-center justify-between border-b border-white py-6 lg:border-none"
    >
      <div class="flex items-center">
        <a href={buildLink("/")}>
          <img class="h-10 w-auto" src="/img/wsg_hands_white.svg" alt="" />
        </a>
        <div class="ml-10 hidden space-x-8 lg:block">
          <a
            href={home.href}
            class="text-base font-medium text-white hover:text-gray-100"
          >
            {home.name}
          </a>
        </div>

        <div class="ml-10 hidden lg:block">
          <SkillsDropdown client:load astroPath={Astro.url.pathname} />
        </div>
      </div>
      <LanguageDropdown client:load astroPath={Astro.url.pathname} />
    </div>
    <div class="flex flex-wrap justify-center gap-x-6 py-4 lg:hidden">
      <div class="ml-10 my-auto space-x-8 lg:hidden">
        <a
          href={home.href}
          class="text-base font-medium text-white hover:text-gray-100"
        >
          {home.name}
        </a>
      </div>
      <SkillsDropdown client:load astroPath={Astro.url.pathname} />
    </div>
  </nav>
</header>
