---
import HeadedSection from "./HeadedSection.astro";
import type { PropsOf } from "../../utils/types";
import WaveDivider from "../../components/dividers/WaveDivider.astro";
import { colors } from "../../constants/colors";

export type Props = PropsOf<typeof HeadedSection> & {
  type: PropsOf<typeof WaveDivider>["type"];
  bubbleColor?: string;
};

const {
  type,
  sectionBgColor = type === "top" ? colors.brandBlue : "white",
  color = type === "top" ? colors.onBrandBlue : "black",
} = Astro.props;
---

<div>
  <WaveDivider
    type={type}
    color={colors.brandBlue}
    bgColor={colors.onBrandBlue}
  />
  <HeadedSection {...Astro.props} color={color} bgColor={sectionBgColor}>
    <slot />
  </HeadedSection>
</div>

<style></style>
