---
import "@fontsource/poppins";
import Footer from "~/components/Footer.astro";
import Header from "~/components/Header.astro";
import { getLangFromUrl, getLocalePaths, useTranslations } from "~/i18n";

interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const localeDescription =
  description ||
  t({
    de: "Willkommen bei den Bundesleistungszentren der Softwareentwicklung",
    en: "Welcome to the national centers of software development",
  });
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={localeDescription} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>BLZ IT{title ? ` | ${title}` : ""}</title>
    {
      getLocalePaths(Astro.url).map((props) => (
        <link
          rel="alternate"
          hreflang={props.lang}
          href={Astro.url.origin + props.path}
        />
      ))
    }
  </head>
  <body class="flex min-h-screen flex-col">
    <Header />
    <main class="mb-auto">
      <slot />
    </main>
    <Footer />
  </body>
</html>
