---
import { Trans } from "astro-i18next/components";
import { t } from "i18next";
import Hero from "../components/Hero.astro";
import Link from "../components/Link.astro";
import LinkCard from "../components/LinkCard.astro";
import SkillInformation from "../components/skill/SkillInformation.astro";
import SkillRoadmap from "../components/skill/SkillRoadmap.astro";
import type Person from "../components/team/Person.astro";
import Team from "../components/team/Team.astro";
import TimeLine from "../components/timeline/TimeLine.astro";
import type TimeLineEntry from "../components/timeline/TimeLineEntry.astro";
import Layout from "../layouts/Layout.astro";
import HeadedSection from "../layouts/sections/HeadedSection.astro";
import WavedSection from "../layouts/sections/WavedSection.astro";
import { buildLink } from "../routing/buildLink";
import type { PropsOf } from "../utils/types";

type Props = {
  skillNumber: string;
  skillName: string;
  img: string;
  nationalTeam: PropsOf<typeof Person>[];
  timelineEntries: PropsOf<typeof TimeLineEntry>[];
  additionalLinks: PropsOf<typeof LinkCard>[];
};

const {
  skillNumber,
  skillName,
  img,
  nationalTeam,
  timelineEntries,
  additionalLinks,
} = Astro.props;
---

<Layout title={skillName}>
  <div class="lg:text-lg">
    <Hero
      title={`Skill ${skillNumber}: ${skillName}`}
      subtitle={t(`skills.${skillNumber}.short`)}
      img={img}
    />
    <HeadedSection
      title={t("skills.general.title")}
      subtitle={t("skills.general.subtitle")}
    >
      <SkillInformation skillNumber={skillNumber} />
    </HeadedSection>
    <WavedSection type={"top"} title={t("skills.nextWSC.title")}>
      <div class="px-4">
        <SkillRoadmap />
      </div>
    </WavedSection>
    <WavedSection type={"bottom"} title={t("skills.nationalTeam.title")}>
      {
        nationalTeam.length ? (
          <Team members={nationalTeam} />
        ) : (
          <div>
            <Trans i18nKey={"skills.nationalTeam.noTeam"}>
              There is currently no national team.{" "}
              <Link href={buildLink("dm-registration")}>Apply now!</Link>
            </Trans>
          </div>
        )
      }
    </WavedSection>
    <WavedSection type={"top"} title={t("skills.history")}>
      <TimeLine entries={timelineEntries} />
    </WavedSection>
    <WavedSection type={"bottom"} title={t("skills.additionalLinks")}>
      <dl class="mt-5 grid grid-cols-1 gap-5 sm:grid-cols-2">
        {additionalLinks.map((link) => <LinkCard {...link} />)}
      </dl>
    </WavedSection>
  </div>
</Layout>
